@{
    ViewBag.Title = "Admin page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="jumbotron">
    <h1>Платформа для обрання кращого учителя школи</h1>
    <p class="lead">За допомогою даної платформи ви можете обрати та проголосувати за свого кандидата.</p>
</div>

@Html.ActionLink("Selfremove", "RemoveSelf", "AdminUser")